[Unit]
Description=nubeio-go-lora

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/debian/go-lora

[Install]
WantedBy=multi-user.target